// // multi code's

.font-size-sm {
  font-size: 14px !important;
}

.btn-none {
  border: none;
  background: transparent;
  &:focus {
    outline: none;
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.btn-all {
  @include Flex();
  padding: 1rem;
  background: transparent;
  border: 1px solid #717171;

  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  &:hover {
    color: #fff;
    background: black;
  }
}
